body {
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #e9e8eb, #f8f9fa);
  margin: 0;
  padding: 20px;
}

h1 {
  text-align: center;
}

input {
  padding: 8px;
  margin-right: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

button {
  padding: 8px 12px;
  cursor: pointer;
}
